.container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: flex-start;
}

.containerHeader {
    background-color: #00695f;
    padding:0.8rem;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    
}
.navButton{
    font-family: 'Mulish', sans-serif;
    background-color: #009688;
    border: 1px solid #009688;
    color: #242424;
    font-weight: bolder;

    padding:0.4rem 0.8rem;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.bar{
    width: 50px;
    background-color:#2196f3;
    border: 1px solid #1769aa;
    text-align: center;
}